@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Roboto:wght@400;900&display=swap');

:root {
    --good-panel-fill: #8CA993;
    --bad-panel-fill: #EB6B5E;
    --risk-panel-fill: #F2E4B8;
    --info-panel-fill: #D1ECF1;
}

* {
    box-sizing: border-box;
}


body {
    background-color: #ccc;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: scroll;
    margin: 0;
} 


.container {
    background-color: #fafafa;
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    width: 1280px;
    height:fit-content;
  }

  .nav {
      width: 100%;
      padding: 10px;
  }
  

  .panel {
    position: relative;
    height: 200px;
    width: 300px;
    border: 1px solid #888;
    background-size: cover 100%;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    padding: 15px;
    margin: 10px 0 10px 10px;
  }

  .panel h3 {
    padding: 0;
    font-size: .75rem;
    text-transform: uppercase;
    top: 5px;
    left: 25px;
    margin: 0;
  }

  .panel h1 {
      padding: 0;
      margin: 0;
    position: absolute;
    justify-content: center;
    font-family: 'Open Sans';
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--bad-panel-fill);
    top: 4rem;
  }

  .panel .data.good {
      color: #0C4128;
  }

  .panel h5 {
    padding: 0;
    margin: 0;
    position: absolute;
    font-size: .8rem;
    font-weight: lighter;
    top: 9.5rem;
    left: 15px;    
  }

  .panel.overview {
    height: 80px;
    width: 250px;
    border-radius: 5px;
    }

    .panel.overview.good {
        color: #fff;
        background-color: var(--good-panel-fill);
        border-color: var(--good-panel-fill);
    }

    .panel.overview.bad {
        color: #fff;
        background-color: var(--bad-panel-fill);
        border-color: var(--bad-panel-fill);
    }

    .panel.overview.risk {
        color: #555;
        background-color: var(--risk-panel-fill);
        border-color: var(--risk-panel-fill);
    }

    .panel.overview.info {
        color: #555;
        background-color: var(--info-panel-fill);
        border-color: var(--info-panel-fill);
    }

    .panel.overview.info h1,
    .panel.overview.risk h1{
        color: #555;        
    }

    .panel.overview h1 {
      position: absolute;
      text-align: right;
      font-size: 2rem;
      color: #fff;
      top: 30px;
      left: 150px;
    }

    .panel.overview h3 {
        position: absolute;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: normal;
        top: 20px;
        left: 15px;
      }

    .panel.overview h5 {
        padding: 0;
        margin: 0;
        position: absolute;
        font-size: .8rem;
        font-weight: lighter;
        top: 50px;
        left: 15px;    
      }

  #title {
      font-size: 1.5rem;
      font-weight: bold;
      margin: 10px;
  }

  .client-panel {
    position: relative;
    width: 100%;
    border: 1px solid #888;
    background-size: cover 100%;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    padding: 0px;
    margin: 10px;
  }

  .client-panel table {
      width: 100%;
  }

  .client-panel tr:hover {
    background-color: lightgrey;
}

  .client-panel table, 
  .client-panel table td,
  .client-panel table th {
      border: 0;
      border-collapse: collapse;
  }


  .client-panel table td,
  .client-panel table th {
    text-align: left;  
    border-left: 1px solid #ccc;
    padding: 5px;
  }

  .client-panel table th {
      font-size: .8rem;
      font-weight: normal;
  }

  .client-table-header {
      background-color: #E0E0E0;
  }

  .client-panel a {
      cursor: pointer;   
      text-decoration: none;
      color: #222;
  }

  .client-panel a:hover {
    cursor: pointer;   
    text-decoration: none;
    color: #999;
}

  .client-panel

  .status {
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .client-status {
    position: relative;
    text-align: center;
    padding: 2px;
    border-radius: 10px;
    width: 100px;
  }

  .info {
      background-color: var(--info-panel-fill);
  }

  .good {
    background-color: var(--good-panel-fill);
}

.risk {
    background-color: var(--risk-panel-fill);
}

.bad {
    background-color: var(--bad-panel-fill);
}

.profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 25px;
}

.demographics {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 25px;
}

.profile-left {

}

.profile-right {
  padding: 0 25px;
}

.profile-name {
  padding: 0 25px;
  width: 100%;
}

.profile-photo {
  border-radius: 5px;
  max-width: 300px;
  max-height: 300px;
}

.actions {
  display: flex;
  flex-direction: row;
}

.action {
  text-align: center;
  justify-content: center;
  flex: .1;
  border: solid 2px #000;
  background-size: cover 100%;
    background-position: center;
    background-repeat: no-repeat;
}
/*
.profile-contact-info {
  display: flex;
  flex-direction: column;
}

.profile-contact-info p {
  padding: 5px;
  margin: 5px;
}

*/
  /*
  .gauge-a {
    z-index: 1;
    position: absolute;
    background-color: rgba(255,255,255,.2);
    width: 400px;
    height: 200px;
    top: 0%;
    border-radius: 250px 250px 0px 0px;
    border: 2px solid #000;
  }
  
  .gauge-b {
    z-index: 3;
    position: absolute;
    background-color: #222;
    width: 250px;
    height: 125px;
    top: 75px;
    margin-left: 75px;
    margin-right: auto;
    border-radius: 250px 250px 0px 0px;
  }
  
  .gauge-c {
    z-index: 2;
    position: absolute;
    background-color: #5664F9;
    width: 400px;
    height: 200px;
    top: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px 0px 200px 200px;
    transform-origin: center top;
    transition: all 1.3s ease-in-out;
  }
  
  .container:hover .gauge-c {  transform:rotate(180deg);
  }
  
  .container:hover .gauge-data { color: rgba(255,255,255,1); }
  
  .gauge-data {
    z-index: 4;
    color: rgba(255,255,255,.2);
    font-size: 1.5em;
    line-height: 25px;
    position: absolute;
    width: 400px;
    height: 200px;
    top: 90px;
    margin-left: auto;
    margin-right: auto;
    transition: all 1s ease-out;
  }

  */